@import '@spotify-clone/shared/src/assets/styles/common/variable';
@import '@spotify-clone/shared/src/assets/styles/common/mixins';
@import '@spotify-clone/shared/src/assets/styles/common/spacing';
.link {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-shrink: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #b3b3b3;
  column-gap: 1rem;

  &:hover {
    color: #fff;
  }
}
