@import '@spotify-clone/shared/src/assets/styles/common/import';

.divider {
  display: flex;
  align-items: center;
  margin-top: rem-calc(16);
  margin-bottom: rem-calc(16);

  &::before,
  &::after {
    content: '';
    background-color: #d9dadc;
    width: 100%;
    height: 1px;
  }
}

.dividerTitle {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 rem-calc(20);
  text-transform: uppercase;
  font-weight: 700;
}
