@import "../../assets/styles/common/variable";
@import "../../assets/styles/common/mixins";
@import "../../assets/styles/common/spacing";

.divider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin-top: $space-4;
  margin-bottom: $space-4;
  position: relative;
  text-align: center;
}

.dividerTitle {
  background: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 $space-5;
  text-transform: uppercase;
  font-weight: 700;
}
