@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #121212;
  color: #ffffff;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'sidebar content'
    'footer footer';
  overflow: hidden;
}
