@import '@spotify-clone/shared/src/assets/styles/common/variable';
@import '@spotify-clone/shared/src/assets/styles/common/mixins';
@import '@spotify-clone/shared/src/assets/styles/common/spacing';

.playlist {
  // mx-6 mt-2 py-2 flex-auto border-t border-white border-opacity-20 overflow-auto
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  flex: auto;
  border-top: 1px solid rgba(#fff, .2);
  overflow: auto;
}


.link {
  // text-s text-link hover:text-white flex h-8 items-center
  font-size: 0.813rem;
  color: #b3b3b3;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: default;

  &:hover {
    color: #fff;
  }
}
