@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $space-6;
  color: $text-color;
  background-color: #fff;
  font-weight: 400;
}

.icon {
  display: inline-block;
  width: $space-4;
  height: $space-4;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
