@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #fff;
    font-weight: 400;
}

/* Custom */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
}

.h4,h4{
  font-size:18px
}
.h5,h5{
  font-size:16px
}
.h6,h6{
  font-size:14px
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
