@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: rem-calc(24);
  color: $text-color;
  background-color: #fff;
  font-weight: 400;
}

.icon {
  display: inline-block;
  width: rem-calc(16);
  height: rem-calc(16);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
