@import '@spotify-clone/shared/src/assets/styles/common/variable';
@import '@spotify-clone/shared/src/assets/styles/common/mixins';
@import '@spotify-clone/shared/src/assets/styles/common/spacing';

.content {
  max-width: rem-calc(450);
  margin-right: auto;
  margin-left: auto;
  padding-left: $space-4;
  padding-right: $space-4;

  strong {
    text-align: center;
    display: block;
  }

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-top: $space-4;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.signin {
  margin-top: $space-4;

  @media (min-width: 768px) {
    margin-top: 0;
    flex-direction: row;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9dadc;
  text-align: center;
  padding: $space-2 0;
  margin-bottom: $space-6;

  .logo {
    width: 125px;
    height: 41px;
  }

  @media (min-width: 768px) {
    padding: $space-6 0;
    margin-bottom: $space-8;

    .logo {
      width: auto;
      height: auto;
    }
  }
}

.title,
.account {
  text-align: center;
  font-weight: 800;
  line-height: $space-5;
}

.title {
  font-size: rem-calc(14);
}
.account {
  font-size: $space-4;
}

.footer {
  margin-top: $space-6;
  margin-bottom: $space-4;
}

.register {
  margin-top: $space-4;
  margin-bottom: $space-4;
}
