@import '../../../assets/styles/common/variable';
@import '../../../assets/styles/common/mixins';
@import '../../../assets/styles/common/spacing';

.content {
  max-width: rem-calc(450);
  margin-right: auto;
  margin-left: auto;

  strong {
    text-align: center;
    display: block;
  }
}

.row {
  padding-top: $space-2;
  padding-bottom: $space-2;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-top: $space-4;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9dadc;
  padding: $space-6 0;
  margin-bottom: $space-8;
  text-align: center;
}

.title {
  text-align: center;
}

.footer {
  margin-top: $space-6;
  margin-bottom: $space-4;
}

.register {
  margin-top: $space-4;
  margin-bottom: $space-4;
}
