@import '@spotify-clone/shared/src/assets/styles/common/import.scss';

.content {
  max-width: rem-calc(450);
  margin-right: auto;
  margin-left: auto;
  padding-left: rem-calc(16);

  padding-right: rem-calc(16);

  strong {
    text-align: center;
    display: block;
  }

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  padding-top: rem-calc(8);
  padding-bottom: rem-calc(8);
}

.actions {
  display: flex;
  justify-content: space-between;
  padding-top: rem-calc(16);
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.signin {
  margin-top: rem-calc(16);

  @media (min-width: 768px) {
    margin-top: 0;
    flex-direction: row;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9dadc;
  text-align: center;
  padding: rem-calc(8) 0;
  margin-bottom: rem-calc(24);

  .logo {
    width: 125px;
    height: 41px;
  }

  @media (min-width: 768px) {
    padding: rem-calc(24) 0;
    margin-bottom: rem-calc(32);

    .logo {
      width: auto;
      height: auto;
    }
  }
}

.title,
.account {
  text-align: center;
  font-weight: 800;
  line-height: rem-calc(20);
}

.title {
  font-size: rem-calc(14);
}
.account {
  font-size: rem-calc(16);
}

.footer {
  margin-top: rem-calc(24);
  margin-bottom: rem-calc(16);
}

.register {
  margin-top: rem-calc(16);
  margin-bottom: rem-calc(16);
}
